--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: shipmentstatus; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.shipmentstatus AS ENUM (
    'pending',
    'dispatched',
    'in_transit',
    'delayed',
    'delivered',
    'cancelled'
);


ALTER TYPE public.shipmentstatus OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO admin;

--
-- Name: shipments; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.shipments (
    id uuid NOT NULL,
    tracking_id uuid NOT NULL,
    origin character varying NOT NULL,
    destination character varying NOT NULL,
    status public.shipmentstatus NOT NULL,
    created_at timestamp without time zone,
    provider_id uuid,
    estimated_delivery timestamp without time zone,
    weight_kg double precision,
    dimensions character varying,
    description character varying,
    created_by uuid,
    shipment_id uuid NOT NULL,
    external_tracking_id character varying
);


ALTER TABLE public.shipments OWNER TO admin;

--
-- Name: shipping_providers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.shipping_providers (
    id uuid NOT NULL,
    name character varying NOT NULL,
    contact_email character varying,
    phone character varying,
    created_by uuid NOT NULL,
    display_name character varying,
    tracking_url character varying
);


ALTER TABLE public.shipping_providers OWNER TO admin;

--
-- Name: status_history; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.status_history (
    id uuid NOT NULL,
    shipment_id uuid,
    status public.shipmentstatus NOT NULL,
    "timestamp" timestamp without time zone
);


ALTER TABLE public.status_history OWNER TO admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying NOT NULL,
    password_hash character varying NOT NULL,
    name character varying
);


ALTER TABLE public.users OWNER TO admin;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.alembic_version (version_num) FROM stdin;
4081a0e1d7dc
\.


--
-- Data for Name: shipments; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: shipping_providers; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.shipping_providers (id, name, contact_email, phone, created_by, display_name, tracking_url) FROM stdin;
ff0cafca-3b31-45d6-a259-9e1b2fd3d4fa	Shreyash	Shobhasm@gmail.com	7498122143	43b85945-c517-49ca-b386-b7951ea8bd83	ShobhaSM	https://delivery.com
2b0dc147-d2e9-4ca4-a5e2-6b65a961b240	Piyush Badoge	pooja@gmail.com	8379052688	43b85945-c517-49ca-b386-b7951ea8bd83	Pooja Super shop	www.deliver.com
dc152ff7-29dd-407d-b4d6-41027643704f	Kalpesh Patil	kalpeshpatil@gmail.com	8830784001	43b85945-c517-49ca-b386-b7951ea8bd83	Zudio	www.zudio.com
\.


--
-- Data for Name: status_history; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.status_history (id, shipment_id, status, "timestamp") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.users (id, email, password_hash, name) FROM stdin;
43b85945-c517-49ca-b386-b7951ea8bd83	taleleshreyash44@gmail.com	$2b$12$./BIzIE0nZpPDpAcvu4/YOGGcB6J88kyrduHe6/xoJAu/3mFwEGfO	Shreyash Talele
cd8f0eaa-2108-45c4-a5fb-3bae55d5a427	rahulbarhate44@gmail.com	$2b$12$rf1VnJ99kV8VMyRFyiP/auMJIq4NUmALMXYIOD9iukpmKPmzKs/Fe	Rahul B 
1588fcaf-4cbf-43ad-8cbf-d710799cb580	piyushbadoge@gmail.com	$2b$12$JFEIjSgM5/Fc0.66Da8lauV1ADaHWyiU/g1PCQfbmWhrW2tSh5r4O	\N
\.


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: shipments shipments_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.shipments
    ADD CONSTRAINT shipments_pkey PRIMARY KEY (id);


--
-- Name: shipments shipments_shipment_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.shipments
    ADD CONSTRAINT shipments_shipment_id_key UNIQUE (shipment_id);


--
-- Name: shipments shipments_tracking_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.shipments
    ADD CONSTRAINT shipments_tracking_id_key UNIQUE (tracking_id);


--
-- Name: shipping_providers shipping_providers_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.shipping_providers
    ADD CONSTRAINT shipping_providers_name_key UNIQUE (name);


--
-- Name: shipping_providers shipping_providers_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.shipping_providers
    ADD CONSTRAINT shipping_providers_pkey PRIMARY KEY (id);


--
-- Name: status_history status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.status_history
    ADD CONSTRAINT status_history_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_shipments_external_tracking_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_shipments_external_tracking_id ON public.shipments USING btree (external_tracking_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: shipments shipments_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.shipments
    ADD CONSTRAINT shipments_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: shipments shipments_provider_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.shipments
    ADD CONSTRAINT shipments_provider_id_fkey FOREIGN KEY (provider_id) REFERENCES public.shipping_providers(id);


--
-- Name: shipping_providers shipping_providers_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.shipping_providers
    ADD CONSTRAINT shipping_providers_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: status_history status_history_shipment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.status_history
    ADD CONSTRAINT status_history_shipment_id_fkey FOREIGN KEY (shipment_id) REFERENCES public.shipments(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

